<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> My Moodboards </title>
</head>
<body>
      <%- include('../partials/_navbar.ejs') %>

<h1>My Moodboards</h1>
<h3> Organize and manage your interior ideas. Create as many boards as needed and add items from the catalog to visualize your spaces </h3>
<p><a href="/moodboards/new">+ Create new moodboard</a></p>

<% if ( boards.length === 0) { %>
  <p>You haven’t created any moodboards yet. Start your first board to begin planning your interior ideas.</p>
<% } else { %>
  <ul>
    <% boards.forEach(board => { %>
      <li style="margin-bottom:12px;">
        <h3><%= board.title %></h3>
        <% if (board.description) { %><p><%= board.description %></p><% } %>
        <div style="margin-top:6px;">
          <button type="submit"><a href="/moodboards/<%= board._id %>/edit">Edit Board</a></button>
          <form action="/moodboards/<%= board._id %>?_method=DELETE" method="POST" style="display:inline;">
            <button type="submit"> Delete Board</button>
          </form>
          <a href="/moodboards/<%= board._id %>">View Board Contents</a>
        </div>
      </li>
    <% }) %>
  </ul>
<% } %>

</body>
</html>