<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Cinzel+Decorative:wght@400;700&family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title> My Moodboards </title>
</head>
<body>
      <div class="moodboards-page">
      <%- include('../partials/_navbar.ejs') %>

  <div class="moodboards-head">
  <div class="moodboards-title">
        <h1>My Moodboards</h1>
        <div class="moodboards-sub">
        <h3> Organize and manage your ideas. Create as many boards as needed and add items from the catalog to visualize your spaces </h3>
        <div class="create-link">
        <a class="btn-primary" href="/moodboards/new">Create new moodboard</a>
  </div>
  </div>
  </div>
  </div>
     
  <!-- //if there is no moodboards created -->
      <% if ( boards.length === 0) { %>
      <div class="moodboards-empty">
      <p>You haven’t created any moodboards yet. Start your first board to begin planning your ideas.</p>
      </div>
      <% } else { %>

      <div class="moodboards-grid">

      <% boards.forEach(board => { %>
      <div class="moodboard-card" aria-labelledby="mb-title-<%= board._id %>">

            <div class="card-main">
            <div class="card-text">
            <div id="mb-title-<%= board._id %>" class="card-name"><h3><%= board.title %></h3></div>
                <% if (board.description) { %>
                  <div class="card-desc"><p><%= board.description %></p></div>
                <% } %>
            </div>

            <div class="card-actions">
            <div class="action-left">
            <a class="btn-ghost" href="/moodboards/<%= board._id %>">View Board Contents</a>
            </div>

            <div class="action-right">
            <a class="btn-edit" href="/moodboards/<%= board._id %>/edit">Edit Board</a>

            <form class="delete-form" action="/moodboards/<%= board._id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn-delete">Delete Board</button>
            </form>
            </div>
            </div>

            </div>

          </div>
          <% }) %>

      </div>

      <% } %>

      </div> 
</body>
</html>