<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Furniture Catalog</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1> Furniture Catalog </h1>
   <% furnitures.forEach((furniture)=> { %>
        <h4><%=furniture.name %></h4>
                 <% if (furniture.image) { %>
      <img src="<%= furniture.image %>" style="max-width:200px;">
    <% } %>
    <h4><%= furniture.price %> BHD</h4>
     <a href="/furnitures/<%= furniture._id %>">View details</a>
     <form action="/moodboards/<%= userBoards[0]?._id %>/add" method="POST">
      <!-- better: render a dropdown of user's boards -->
      <select name="boardId">
        <% userBoards.forEach(b => { %>
          <option value="<%= b._id %>"><%= b.title %></option>
        <% }) %>
      </select>
      <input type="hidden" name="furnitureId" value="<%= furniture._id %>">
      <button type="submit">Add to board</button>
    </form>
  <% }) %>

</body>
</html>