<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Furniture Catalog</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1> Furniture Catalog </h1>
   <% furnitures.forEach((furniture)=> { %>
        <h4><%=furniture.name %></h4>
                 <% if (furniture.image) { %>
      <img src="<%= furniture.image %>" style="max-width:200px;">
    <% } %>
    <h4><%= furniture.price %> BHD</h4>
     <a href="/furnitures/<%= furniture._id %>">View details</a>
  <% }) %>
  <a href="/furnitures/new">Add new furniture</a>
</body>
</html>