<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= furniture.name %></title>
</head>
<body>
      <%- include('../partials/_navbar.ejs') %>
    <h1><%= furniture.name %></h1>
     <% if (furniture.image) { %>
      <img src="<%= furniture.image %>" style="max-width:200px;">
    <% } %>
    <h4>Category: <%=furniture.category %></h4>
    <h4><%=furniture.price %> BHD</h4>
    <h4><%=furniture.description %></h4>
    <% if (furniture.owner._id.equals(user._id)) { %>
     <p>Owned by YOU</p>
     <a href="/furnitures/<%= furniture._id %>/edit">Edit Furniture</a>

     <form
            action="/furnitures/<%= furniture._id %>?_method=DELETE"
            method="POST"
          >
            <button type="submit">Delete Furniture</button>
          </form>
        <% } else { %>
        <p>Owned by <%= furniture.owner.username %></p>
        <% } %>
</body>
</html>