<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Cinzel+Decorative:wght@400;700&family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= furniture.name %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>

<div class="furniture-show">

  <div class="furniture-title">
    <div class="name"><%= furniture.name %></div>
  </div>

  <div class="furniture-grid">

    <div class="furniture-image">
      <% if (furniture.image) { %>
        <img src="<%= furniture.image %>" alt="<%= furniture.name %>">
      <% } %>
    </div>

    <div class="furniture-info">
      <div class="category">Category: <%= furniture.category %></div>
      <div class="price"><%= furniture.price %> BHD</div>
      <div class="description"><%= furniture.description %></div>
      <div class="owner">
        <% if (furniture.owner._id.equals(user._id)) { %>
          Owned by YOU
        <% } else { %>
          Owned by <%= furniture.owner.username %>
        <% } %>
      </div>
    </div>

  </div>
</div>
</body>
</html>